# See http://help.github.com/ignore-files/ for more about ignoring files.

/.idea/
.idea/workspace.xml
.idea/
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html



