# See http://help.github.com/ignore-files/ for more about ignoring files.


.rbenv-version
tmtags
.DS_Store
.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.idea/
doc/app/
coverage/
public/assets/
*.iml
.rakeTasks
*.rdb
*.lck
.env
Gemfile.jruby
.generators
doc/rspec_report.html

