<div ng-app="adAsset" ng-controller="assetsController">
<div id="header">{{message}}</div>
<div id ="subheader">Click on Title or Time to sort, and click on each thumbnail or URL to play the ad.</div>
<table id="keywords" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th><span>Thumbnail</span></th>
        <th  class="bi-direction" ng-class="{true:'up-direction', false:'down-direction'}[directionTitle]" ng-click="changeSorting('title')" id="sortable"><span>Title</span></th>
        <th  class="bi-direction" ng-class="{true:'up-direction', false:'down-direction'}[directionTime]" ng-click="changeSorting('created_time')" id="sortable"><span>Time</span></th>
        <th><span>URL</span></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="asset in assets | orderBy:sort.column:sort.descending" ng-controller="clipController">
        <td>
          <img class="thumbnail" src='{{asset.thumbnail}}' ng-click="firePopup()">
        </td>
        <td>{{asset.title}}</td>
        <td>{{asset.created_time }}</td>
        <td>
          <div class="urlFt" onClick="body.style.overflow='hidden'">
            <textarea ng-model="toBeCopied" ng-click="firePopup();" ng-init = "toBeCopied = asset.play_url"></textarea>
          </div>
        </td>
        <td>
          <div class="button_container">
            <div class="msg_box" ng-show="copied">
              Copied
            </div>
            <div clip-copy="getTextToCopy()" clip-click="displayMes()" ng-class="{true:'buttonFt', false:'buttonFt lightbg'}[buttonCss]">
              Click to Copy
            </div>
          </div>
        </td>
      </tr>
  </tbody>
</table>

  <div id="overlay" ng-click="closePopup();">
  </div>
  <div id="fancybox">
    <div id="flashContent"></div>
    <div id="controls">
      <div id="playpause"><button class="play"></button></div>
      <canvas id="scrubber" height="8"></canvas>
      <span id="display"></span>
      <span id="duration"></span>
      <div id="log" class="log">Log</div>
    </div>
  </div>

</div>




