<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-resource.min.js"></script>

<div ng-app="" ng-controller="assetsController">

  <script>


      function assetsController($scope,$http) {
          angular.element(document).ready(
                  $http({method: 'GET', url: '/api/channels/assets/3'}).
                          success(function(data, status, headers, config) {
                              $scope.assets = data.assets;
                              $scope.message = data.message;
                              $scope.total_assets = data.total_assets;
                              $scope.sort = {
                                  column: '',
                                  descending: ''
                              };
                              $scope.changeSorting = function(column) {
//                                  $scope.direction = false;

                                  var sort = $scope.sort;

                                  if (sort.column == column) {
                                      sort.descending = !sort.descending;

                                      if(column=='title'){
                                          $scope.directionTitle = !$scope.directionTitle;

                                      }   else{
                                          $scope.directionTime = !$scope.directionTime;
                                      }


                                  } else {
                                      if(column == 'title'){
                                          sort.column = column;
                                          sort.descending = false;
                                          $scope.directionTitle = true;
                                          $scope.directionTime = '';

                                      }else{
                                          sort.column = column;
                                          sort.descending = false;
                                          $scope.directionTime = true;
                                          $scope.directionTitle = '';

                                      }

                                  }


                              };

                          }).error(function(data, status, headers, config) {
                              // called asynchronously if an error occurs
                              // or server returns response with an error status.
                              console.log('test failed');
                          })
          )
      }
  </script>


<div id="header">{{message}}</div>
<div id ="subheader">Click on Title or Time to sort, and click on each thumbnail or URL to play the ad.</div>
<table id="keywords" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th><span>Thumbnail</span></th>
        <th  class="bi-direction" ng-class="{true:'up-direction', false:'down-direction'}[directionTitle]" ng-click="changeSorting('title')" id="sortable"><span>Title</span></th>
        <th  class="bi-direction" ng-class="{true:'up-direction', false:'down-direction'}[directionTime]" ng-click="changeSorting('created_time')" id="sortable"><span>Time</span></th>
        <th><span>URL</span></th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr ng-repeat="asset in assets | orderBy:sort.column:sort.descending">
        <td>
          <img class="thumbnail" src='{{asset.thumbnail}}' onClick="body.style.overflow='hidden';firepopup('{{asset.play_url}}');">
        </td>
        <td>{{asset.title}}</td>
        <td>{{asset.created_time }}</td>
        <td>
          <div class="urlFt" onClick="body.style.overflow='hidden'">
            <textarea id="target-to-copy" onClick="body.style.overflow='hidden';firepopup('{{asset.play_url}}');">{{asset.play_url}}</textarea>
          </div>
        </td>
        <td>
          <div class="button_container">
            <div class="msg_box">
              Copied
            </div>
            <div data-clipboard-target="target-to-copy-text" class="buttonFt">
              Click to Copy
            </div>
          </div>
        </td>
      </tr>
  </tbody>
</table>
</div>

<script type="text/javascript">


    $(document).ready(function()

    {

        var clientTarget = new ZeroClipboard($('.buttonFt'),{
            moviePath: "http://www.paulund.co.uk/playground/demo/zeroclipboard-demo/zeroclipboard/ZeroClipboard.swf",
            debug: false
        } );

        clientTarget.on( "load", function(clientTarget)
        {
            $('#flash-loaded').fadeIn();

            clientTarget.on( "dataRequested", function(clientTarget, args) {
                clientTarget.setText( args.text );
                $(this).css('backgroundColor','#ccc');
                $(this).parent().find('.msg_box').fadeIn();
                _self = $(this);
                setTimeout(function(){_self.parent().find('.msg_box').fadeOut();},1500);
            } );
        } );

    });
</script>







