body {
  width: 100%;
  margin: 0;
  background: black;
  color: #eaeaea;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  overflow-x: hidden;
}

button{
  width:100px;
  height:30px;
  background-color: #eaeaea;
  color: green;
}
.urlFt{
  width:600px;
  height:40px;
  //overflow: scroll;
  padding:2px 5px;
  textarea{
    width:595px;
    border:1px solid #232121;
    height:30px;
  }
}

#content-wrapper {
  width: 1280px;
  margin: 0 auto;
  //margin-top: 220px;

  #content {
    padding: 0 20px;

    #header {
      width: 100%;
      text-align: center;
      font-size: 24px;
      padding-bottom: 30px;
    }

    #video-data {
      width: 100%;
      text-align: left;
      font-size: 14px;
      float: left;
      padding-bottom: 15px;

      #video-title {
        width: 100px;
        margin-right: 20px;
        float: left;
       border: 2px solid red;
      }
      #video-timestamp {
        width: 100px;
        margin-right: 20px;
        float: left;
        border: 2px solid red;
      }
      #video-url {
        font-size: 12px;
        width: 1000px;
        float: left;
      }
    }
  }
}

table{
  border: 1px solid #fff;
  padding:5px;
  thead{
    background-color:#330000;
  }
  th{
    padding:3px;
  }
  td{
    padding:2px;
    border: 1px solid #3D3D3D;
  }
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  padding:5px;
}


#keywords thead {
  cursor: pointer;
  background: #330000;
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('/assets/up-arrow.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('/assets/down-arrow.png');
}
