body {
  width: 100%;
  margin: 0;
  background: black;
  color: #eaeaea;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  overflow-x: hidden;
}
.button_container{
  position: relative;
  float: left;
  .msg_box{
    position: absolute;
    left:-135px;
    bottom:-30px;
    border: 1px solid #fff;
    background-color: #3D3D3D;
    color:#fff;
    font-size: 10px;
    text-align: center;
    width:60px;
    height:18px;
    padding:5px;
    display: none;
  }
  .buttonFt{
    border: 1px solid #8dbdd8;
    padding: 5px 5px;
    background: #000000;
    width: 100px;
    font-size: 14px;
    text-align: center;
    color:#fff;
    border-radius: 10px;

  }
}
button{
  width:100px;
  height:30px;
  background-color: #eaeaea;
  color: green;
}
.urlFt{
  width:500px;
  height:45px;
  //overflow: scroll;
  padding:2px 5px;
  textarea{
    width:495px;
    border:1px solid #232121;
    height:40px;
    cursor: pointer;
  }
}

#content-wrapper {
  width: 1280px;
  margin: 0 auto;
  //margin-top: 220px;

  #content {
    padding: 0 20px;

    #header {
      width: 100%;
      text-align: center;
      font-size: 24px;
      padding-bottom: 30px;
    }

    #video-data {
      width: 100%;
      text-align: left;
      font-size: 14px;
      float: left;
      padding-bottom: 15px;

      #video-title {
        width: 100px;
        margin-right: 20px;
        float: left;
       border: 2px solid red;
      }
      #video-timestamp {
        width: 100px;
        margin-right: 20px;
        float: left;
        border: 2px solid red;
      }
      #video-url {
        font-size: 12px;
        width: 1000px;
        float: left;
      }
    }
  }
}

table{
  border: 1px solid #fff;
  padding:5px;
  thead{
    background-color:#330000;
  }
  th{
    padding:3px;
  }
  td{
    padding:2px;
    border: 1px solid #3D3D3D;
  }
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  padding:5px;
}


#keywords thead {
  cursor: pointer;
  background: #330000;
  .bi-direction{
    background: url('/assets/bi-direction.png') no-repeat 130px 10px;
  }
  .bi-direction-1{
    background: url('/assets/bi-direction.png') no-repeat 100px 10px;
  }
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('/assets/up-arrow.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('/assets/down-arrow.png');
}

#overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(119,119,119);
  z-index: 100;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  cursor: pointer;
}

#fancybox {
  display: none;
  position: absolute;
  width: 800px;
  height: 475px;
  padding: 0;
  background-color: black;
  z-index: 101;
  overflow: visible;
  box-shadow: 0 0 50px 10px #333333;

  #controls {
    position: relative;
    border: 0;
    margin: 0;
    padding:0px 2px;
    width: 796px;
    height: 25px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  #controls:hover{opacity:1}

  .play,.pause
  {
    float:left;
    width:65px;
  }

  #controls,.pause,.play,#vol
  {
    background-image:url(/test-html-pages/css/controls.png);
  }

  .play{
    background-position:-0px -25px;
    width:27px;
    height:25px;
    border:0;
    padding:0;
    margin:0;
    display:block;
  }

  .play:hover
  {
    background-position:-28px -25px;
  }

  .pause
  {
    background-position:-0px -50px;
    width:27px;
    height:25px;
    border:0;
    padding:0;
    margin:0;
    display:block;
  }

  .pause:hover
  {
    background-position:-28px -50px;
  }

  #vol
  {
    background-position:-0px -75px;
    width:27px;
    height:25px;
    border:0;
    padding:0;
    margin:0;
    display:block;
  }

  #vol:hover
  {
    background-position:-28px -75px;
    width:27px;
    height:25px;
    border:0;
    padding:0;
    margin:0;
    display:block;
  }

  #display,#duration
  {
    float:left;
    color:#fff;
    padding-top:5px;
    font-size:11px;
    font-weight:bold;
  }

  #scrubber
  {
    cursor:pointer;
    float:left;
    margin-top:8px;
    margin-right:10px;
    border:0;
  }

  .log {
    width:100%;
    float:left;
    white-space:nowrap;
    display:none;
  }

}

#subheader{
  text-align: center;
  width:600px;
  margin: 0 auto;
  padding-bottom:10px;
  font:14px;
  color:#fff;
}
