body {
  width: 100%;
  margin: 0;
  background: black;
  color: #eaeaea;
  font-family: "Helvetica Neue", sans-serif;
  position: relative;
  overflow-x: hidden;
}
.button_container{
  position: relative;
  float: left;
  .msg_box{
    position: absolute;
    left:-135px;
    bottom:-30px;
    border: 1px solid #fff;
    background-color: #3D3D3D;
    color:#fff;
    font-size: 10px;
    text-align: center;
    width:60px;
    height:18px;
    padding:5px;
    display: none;
  }
  .buttonFt{
    border: 1px solid #8dbdd8;
    padding: 5px 5px;
    background: #000000;
    width: 100px;
    font-size: 14px;
    text-align: center;
    color:#fff;
    border-radius: 10px;

  }
}
button{
  width:100px;
  height:30px;
  background-color: #eaeaea;
  color: green;
}
.urlFt{
  width:500px;
  height:45px;
  //overflow: scroll;
  padding:2px 5px;
  textarea{
    width:495px;
    border:1px solid #232121;
    height:40px;
  }
}

#content-wrapper {
  width: 1280px;
  margin: 0 auto;
  //margin-top: 220px;

  #content {
    padding: 0 20px;

    #header {
      width: 100%;
      text-align: center;
      font-size: 24px;
      padding-bottom: 30px;
    }

    #video-data {
      width: 100%;
      text-align: left;
      font-size: 14px;
      float: left;
      padding-bottom: 15px;

      #video-title {
        width: 100px;
        margin-right: 20px;
        float: left;
       border: 2px solid red;
      }
      #video-timestamp {
        width: 100px;
        margin-right: 20px;
        float: left;
        border: 2px solid red;
      }
      #video-url {
        font-size: 12px;
        width: 1000px;
        float: left;
      }
    }
  }
}

table{
  border: 1px solid #fff;
  padding:5px;
  thead{
    background-color:#330000;
  }
  th{
    padding:3px;
  }
  td{
    padding:2px;
    border: 1px solid #3D3D3D;
  }
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
  padding:5px;
}


#keywords thead {
  cursor: pointer;
  background: #330000;
  .bi-direction{
    background: url('/assets/bi-direction.png') no-repeat 130px 10px;
  }
  .bi-direction-1{
    background: url('/assets/bi-direction.png') no-repeat 100px 10px;
  }
}
#keywords thead tr th {
  font-weight: bold;
  padding: 12px 30px;
  padding-left: 42px;
}
#keywords thead tr th span {
  padding-right: 20px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('/assets/up-arrow.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('/assets/down-arrow.png');
}
#subheader{
  text-align: center;
  width:600px;
  margin: 0 auto;
  padding-bottom:10px;
  font:14px;
  color:#fff;
}
