<!DOCTYPE html>
<html>
    <head>
        <title>Watchable Ad Assets</title>
        <meta charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='/assets/main.scss' rel='stylesheet' type='text/css'>
        <%= javascript_include_tag "application" %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
        <!--<script src="//rawgit.com/asafdav/ng-clip/master/src/ngClip.js"></script>-->
        <script src ="/assets/ngClip.js" ></script>
        <script src="/assets/loadPlayer.js"></script>
    </head>

    <body class="home">
     <div style="width:100%;background-color: #fff">
        <a href="/">
          <img id="logo" style="margin-left:20px" src="http://demo3-image-lb-1840931351.us-east-1.elb.amazonaws.com/api/v2/img/54219330e4b088c97249ae6b+1411486512000?width=222" />
        </a>
       <div style="text-align: center;color:#888;position:absolute;width:100%;top:75px;font-size: 25px" id="header">Ad Assets</div>
     </div>
        <div id="content-wrapper">
          <div id="content">
            <%= yield %>
          </div>
        </div>
    </body>
</html>
