<!DOCTYPE html>
<html>
<head>
  <title>Watchable Ad Assets</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
    <div id="info">0</div>
    <a href="/">
      <img id="logo" src="/assets/watchable.svg" onerror="this.src=/assets/watchable.png">
    </a>
    <img id="logo2" src="/assets/watchable.svg" onerror="this.src=/assets/watchable.png">
    <div id="content-wrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>
</body>
</html>
