<!DOCTYPE html>
    <head>
      <title>Watchable Ad Assets</title>



    </head>
    <body class="home">

        <a href="/">
          <img id="logo" src="/assets/watchable.svg" onerror="this.src='/assets/watchable.png'" />
        </a>

        <div id="content-wrapper">
          <div id="content">
            <%= yield %>
          </div>
        </div>
    </body>
</html>
