<!DOCTYPE html>
<html>
    <head>
        <title>Watchable Ad Assets</title>
        <meta charset="utf-8">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='/assets/main.scss' rel='stylesheet' type='text/css'>
        <%= javascript_include_tag "application" %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.6/ZeroClipboard.min.js"></script>
        <!--<script src="//rawgit.com/asafdav/ng-clip/master/src/ngClip.js"></script>-->
        <script src ="/assets/ngClip.js" ></script>
        <script src="/assets/loadPlayer.js"></script>
    </head>

    <body class="home">
        <a href="/">
          <img id="logo" src="/assets/watchable.svg" onerror="this.src='/assets/watchable.png'" />
        </a>

        <div id="content-wrapper">
          <div id="content">
            <%= yield %>
          </div>
        </div>
    </body>
</html>
