<!DOCTYPE html>
    <head>
        <title>Watchable Ad Assets</title>
    </head>

    <body class="home">

        <a href="/">
          <img id="logo" src="/assets/watchable.svg" onerror="this.src='/assets/watchable.png'" />
        </a>

        <div id="content-wrapper">
          <div id="content">
            <%= yield %>
          </div>
        </div>

        <div id="overlay" onClick="body.style.overflow='auto';closepopup();">
        </div>
        <div id="fancybox">
          This is the popup box.
        </div>

        <script type="text/javascript">
            function firepopup() {
                document.getElementById('fancybox').style.left=($(window).width()-800)/2+'px';
                document.getElementById('fancybox').style.top=($(window).height()-450)/2+$(window).scrollTop()+'px';
                $('#overlay').fadeIn('fast');
                setTimeout("$('#fancybox').fadeIn('fast')",200);
            }
            function closepopup() {
                $('#fancybox').fadeOut('fast');
                setTimeout("$('#overlay').fadeOut('fast')",200);
            }
        </script>

    </body>
</html>
